body {
  margin: 0;
  padding: 0;
}

header {
  background-color: blue; /* Stretch the entire length of the page */
  text-align: center;
}

#main-navbar {
  overflow: hidden;
}

#main-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#main-navbar ul li {
  display: inline-block;
}

#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#sidebar {
  position: fixed;
  background-color: red; /* Stretch the entire length of the page */
  width: 20%;
  height: 100%;
  top: 0;
  right: 0;
  overflow-y: auto; /* to enable scrolling */
}

#sidebar-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#sidebar-container ul li {
  padding: 15px 0;
  text-align: center;
}

#sidebar-container ul li a {
  color: #fff;
  text-decoration: none;
}
